[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CA1307: Specify StringComparison for clarity
dotnet_diagnostic.CA1307.severity = silent

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace
